language: cpp

compiler:
  - clang

before_install:
  - cd utils && cat cpplint_files.txt | xargs python cpplint.py --linelength=120 && cd ..
  - mkdir datasets && cd datasets
  - wget https://s3-eu-west-1.amazonaws.com/artm/docword.kos.txt.gz && gunzip docword.kos.txt.gz
  - wget https://s3-eu-west-1.amazonaws.com/artm/vocab.kos.txt
  - cd ..

install:
  - wget -O boost_1_55_0.tar.gz http://sourceforge.net/projects/boost/files/boost/1.55.0/boost_1_55_0.tar.gz/download
  - tar xzf boost_1_55_0.tar.gz
  - cd boost_1_55_0/
  - sudo apt-get update
  - sudo apt-get install build-essential g++ python-dev autotools-dev libicu-dev build-essential libbz2-dev
  - ./bootstrap.sh --prefix=/usr/local --with-libraries=thread,program_options,date_time,system,chrono,filesystem,timer,iostreams
  - sudo ./b2 -j4 install -d0
  - sudo ldconfig
  - cd ..

before_script:
  - mkdir build && cd build && cmake .. && cd ..

script:
  - cd build && make -j4 && cd ..
  - cd 3rdparty/protobuf/python && python setup.py build && sudo python setup.py install && cd ../../..
  - cd build/src/artm_tests && ./artm_tests && cd ../../..
  - cd src/python_tests && python tests.py && cd ../..
  - cd src/python_client && python python_client.py && cd ../..
