sudo: false

language:
  - python
# Currently Travis doesn't support multiple values for language variable
#  - cpp

# compiler:
#  - gcc

python:
  - "2.7"

virtualenv:
  system_site_packages: true

addons:
  apt:
    sources:
      - boost-latest                # for boost 1.55
      - ubuntu-toolchain-r-test     # for g++-4.9
    packages:
      - cmake
      - python-numpy
      - python-pandas
      - python-virtualenv
      - g++-4.9
      # specify only necessary boost packages
      - libboost-chrono1.55-dev
      - libboost-date-time1.55-dev
      - libboost-filesystem1.55-dev
      - libboost-iostreams1.55-dev
      - libboost-program-options1.55-dev
      - libboost-system1.55-dev
      - libboost-thread1.55-dev
      - libboost-timer1.55-dev

env:
  - COMPILER=g++-4.9

before_install:
  - pip install pep8
  - pip install -U pytest

install:
  - ./codestyle_checks.sh
  - mkdir build
  - pushd build && export CXX=$COMPILER && cmake -DBUILD_BIGARTM_CLI_STATIC=OFF .. && make -j2 && file ./src/bigartm/bigartm && popd
  - pushd 3rdparty/protobuf/python && python setup.py install && popd
  - pushd python && python setup.py install && popd

before_script:
  - pushd python/tests && ./download_datasets.sh && popd

script:
#  - export ARTM_SHARED_LIBRARY=`pwd`/build/src/artm/libartm.so
  - pushd build/src/artm_tests && ./artm_tests && popd
  - pushd python/tests/wrapper && py.test && popd
  - pushd python/tests/artm && py.test && popd
