# Manifest template

include MANIFEST.in
include README.md
# add CMakeLists.txt
global-include CMakeLists.txt
graft cmake_modules
# add 3rdparty
graft 3rdparty/glog
graft 3rdparty/gflags
graft 3rdparty/gtest
graft 3rdparty/protobuf
exclude 3rdparty/protobuf/src/protoc*
prune 3rdparty/protobuf/python/build
prune 3rdparty/protobuf/python/dist
prune 3rdparty/protobuf/python/*.egg-info
graft 3rdparty/protobuf-cmake
# add sources
recursive-include src *.cc *.h *.in *.proto

include python/gen_proto.py

global-exclude *_pb2.py
recursive-exclude src *.pb.cc *.pb.h
global-exclude *.swp
global-exclude *.pyc *.pyo *.pyd
