<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_thread-vc140" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_program_options-vc140" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_date_time-vc140" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_filesystem-vc140" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_iostreams-vc140" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_system-vc140" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_chrono-vc140" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_timer-vc140" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_atomic-vc140" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_regex-vc140" version="1.58.0.0" targetFramework="Native" />
</packages>
